# the following are needed so should be left commented
# .dotfiles-nix


# SURE NOT NEEDED
.anacron.log
.crontab-backup.txt
.domi_hyprlog.sh
.domi_hyprlog.txt
.domi_journalctl.txt
.bash_history
.bash_history-*.tmp

test.scrvn
Documents/
Downloads/
OneDrive/
dev/

# ??? CHECK
Pictures/
.gitconfig
.anacrontab
.bash_profile
.bash_profile.backup
.cache/
.cert/
.bashrc 
.config 
.dscripts/
.emacs.d/
.gitconfig/
.gnupg/
.gtkrc-2.0
.hyprland/
.icons/
.ipython/
.jupyter/
.lesshst
.local/
.mozilla/
.mplayer/
.nix-channels
.nix-defexpr/
.nix-profile
.npm/
.pki/
.profile
.ssh/
.steam/
.steampath
.steampid
.var/
.vim/
.viminfo
.zcompdump
.zsh_history
.zshrc



