# the following are needed so should be left commented
# .dotfiles-nix


# This one should be saved on an external disk:
# It contains the gitcrypt keys and maybe others later as well.
.domi_keys

# SURE NOT NEEDED
.anacron.log
.crontab-backup.txt
.domi_hyprlog.sh
.domi_hyprlog.txt
.domi_journalctl.txt
.bash_history
.bash_history-*.tmp
OneDrive.2024.29.04.bak/
.hplip/
.nvidia-settings-rc
.nbrc
.lesshsQ
test.scrvn
Documents/
Downloads/
OneDrive/
dev/


.config/discord/
.config/eww.bak/
.config/chezmoi/
.config/kde.org/
.config/Proton/

# ??? CHECK
Pictures/
.gitconfig
.anacrontab
.bash_profile
.bash_profile.backup
.cache/
.cert/
.bashrc 
.dscripts/
.emacs.d/
.gitconfig/
.gnupg/
.gtkrc-2.0
.hyprland/
.icons/
.ipython/
.jupyter/
.lesshst
.local/
.mozilla/
.mplayer/
.nix-channels
.nix-defexpr/
.nix-profile
.npm/
.pki/
.profile
.ssh/
.steam/
.steampath
.steampid
.var/
.vim/
.viminfo
.zcompdump
.zsh_history
.zshrc



