# Root-level hidden files
.anacron.log
.anacrontab
.bash_history
.bash_history-*.tmp
.bash_profile
.bash_profile.backup
.bashrc
.gitconfig
.lesshsQ
.lesshst
.nbrc
.nvidia-settings-rc
.profile
.python_history
.viminfo
.wget-hsts
.zcompdump
.zcompdump.nixos.*
.zsh_history
.gtkrc-2.0

# Managed by Nixos as a linked file:
.config/hypr/hypridle.conf

# Root-level hidden directories
VirtualBox\ VMs/
.config/VirtualBox/
.cache/
.steampath
.steampid
.cert/
.cargo/
.ds-cripts/
.dscripts/
.emacs.d/
.git-crypt/
.gitconfig/
.gnupg/
.hplip/
.hyprland/
.icons/
.ipython/
.jupyter/
.local/
.mozilla/
.mplayer/
.nix-channels
.nix-defexpr/
.nix-profile
.npm/
.pki/
.rustup/
.steam/
.thunderbird/
.var/
.vim/

# User directories
Documents/
Downloads/
KameraRedmiNote/
OneDrive/
OneDrive.2024.29.04.bak/
Pictures/Screenshots/
Pictures/smplayer_screenshots/

# Ignore 'dev' directory except for 'setup-dev-projects.sh'
dev/
!/dev/setup-dev-projects.sh

# SSH keys and known hosts
.ssh/authorized_keys
.ssh/id_dsa
.ssh/id_ecdsa
.ssh/id_ecdsa_sk
.ssh/id_ed25519
.ssh/id_ed25519_sk
.ssh/id_ed*
.ssh/id_rsa
.ssh/id_xmss
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/*.pem
.ssh/*.key
.domi_keys/

# Config files and directories under .config
.config/qalculate/
.pulse-cookie
CryptoLogging/
TMP/
.config/.gsd-keyboard.settings-ported
.config/ags.backup2/
.config/ags.config1/
.config/anyrun/
.config/eww
.config/gemini_history.json
.config/audacity/
.config/BraveSoftware/
.config/cat_installer/
.config/cef_user_data/
.config/chezmoi/
.config/dconf/
.config/discord/
.config/dolphinrc
.config/dunst/
.config/emacs/
.config/environment.d/
.config/evolution/
.config/eww/
.config/eww.bak/
.config/fcitx/
.config/fcitx5/
.config/gh/
.config/git/config
.config/GIMP/
.config/GitHub\ Desktop/
.config/gnome-initial-setup-done
.config/gsd-keyboard.settings-ported
.config/gtk-2.0/
.config/gtk-3.0/gtk.css
.config/gtk-3.0/settings.ini
.config/gtk-4.0/
.config/home-manager/
.config/htop/
.config/hypr/hyprland.conf
.config/ibus/
.config/kde.org/
.config/kdeglobals
.config/kwalletrc
.config/lazygit/
.config/Ledger\ Live/
.config/libreoffice/
.config/nautilus/
.config/neofetch/
.config/okularpartrc
.config/okularrc
.config/onedrive/
.config/pulse/
.config/Proton/
.config/qutebrowser/
.config/QtProject.conf
.config/qt6ct/
.config/session/
.config/ssh/known_hosts
.config/smplayer/
.config/systemd/
.config/systemmonitorrc
.config/Thunar/
.config/TMP/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xfce4/
.config/xournalpp/
.config/zoom.conf
.config/zoomus.conf

# Other files and scripts
.domi_hyprlog.sh
.domi_hyprlog.txt
.domi_journalctl.txt
.dotfiles.git
.dotfiles-nix/hardware-configuration.nix
.test.scrvn
